<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
</head>

<body>
    <h1>Let's create a group</h1>

    <form action="/group" method="post">
        <input type="text" name="name">
        <input type="submit">
    </form>

    <script src="/socket.io/socket.io.js"></script>

</body>

</html>